<%= render "application/menu" %>

<h1>ABOUT</h1>

<div>
    This website is a representation of the data related to the Parks and Open Spaces in Winnipeg Manitoba. 
    All the information presented on this website is gathered from <a href="https://data.winnipeg.ca/">Winnipeg Open Data</a>.
    The information is relevant up to June of 2024.
    This webpage was created by Christopher Smith.
<div>   

<h3>Intention</h3>
<div>The intention with this website is to provide users with the ability to gather information about parks</div>