<h1>
Nav Menu
</h1>
<nav>
<ul>
<li><%= link_to "Home", "/pages/index" %></li>
<li><%= link_to "Parks", "/parks/" %></li>
<li><%= link_to "Park Assets", "/assets/" %></li>
<li><%= link_to "About", "/pages/about" %></li>
</ul>
</nav>